[
    {config, [
        #{
            files   => ["src/*.erl"],
            ruleset => erl_files,
            rules   => [
                {elvis_style, function_naming_convention, #{
                    ignore => [ipinfo, ipinfo_lite, ipinfo_core, ipinfo_plus],
                    regex => "^([a-z][a-z0-9]*_?)*$"
                }}
            ]
        },
        #{
            files   => ["rebar.config"],
            ruleset => rebar_config
        }
    ]},
    {output_format, colors},
    {verbose, true},
    {no_output, false},
    {parallel, 1}
].
