[
    {elvis, [
        {config, [
            #{
                dirs    => ["src"],
                filter  => "*.erl",
                ruleset => erl_files,
                rules   => [
                    {elvis_style, function_naming_convention, #{
                        ignore => [ipinfo, ipinfo_lite, ipinfo_core, ipinfo_plus],
                        regex => "^([a-z][a-z0-9]*_?)*$"
                    }}
                ]
            },
            #{
                dirs    => ["."],
                filter  => "Makefile",
                ruleset => makefiles
            },
            #{
                dirs    => ["."],
                filter  => "rebar.config",
                ruleset => rebar_config
            },
            #{
                dirs    => ["."],
                filter  => "elvis.config",
                ruleset => elvis_config
            }
        ]
      },
      {output_format, colors},
      {verbose, true},
      {no_output, false},
      {parallel, 1}
    ]
  }
].
