{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [
    {jsx, "3.1.0"}
]}.

{shell, [
    {apps, [ipinfo]}
]}.

{profiles, [
    {test, [
        {deps, [bookish_spork]}
    ]}
]}.

{project_plugins, [
    rebar3_lint
]}.

{ct_opts, [
    {sys_config, "config/test.config"}
]}.

{xref_checks, [
    undefined_functions
]}.
