name: CI

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp:
          - "21"
          - "22"
          - "23"
          - "24"
          - "25"
          - "26"
          - "27"
          - "28"

    container:
      image: erlang:${{ matrix.otp }}-alpine

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Compile
        run: rebar3 compile

      - name: Linting
        # Linting works only with latest version
        if: ${{ matrix.otp == '28' }}
        run: rebar3 lint

      - name: Tests
        env:
          IPINFO_TOKEN: ${{ secrets.IPINFO_TOKEN }}
        run: |
          rebar3 xref
          rebar3 dialyzer
          rebar3 ct
